# Dependencias
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
build
dist

# Sistema / IDE
.DS_Store
.vscode
.idea
*.swp

# Git
.git
.gitignore

# ENV FILES - CRÍTICO
.env
.env.*
!.env.example